---
import {getRecipes} from '../utils/db';
import type {Recipe} from '../utils/db';
import Layout from '../layouts/Layout.astro';

const recipes: Recipe[] = await getRecipes();

// Function to handle search
// const searchRecipes = async (event: Event) => {
//     event.preventDefault();
//     const target = event.target as HTMLFormElement;
//     const searchTerm = (target.elements.namedItem('search') as HTMLInputElement).value;
//     recipes = await collection.find({ title: { $regex: searchTerm, $options: 'i' } });
// };
---

<Layout>
  <div class="card">
    <h1 class="pb-12">Search for Christmas Cookie Recipes</h1>
      <!-- <form onsubmit={searchRecipes}>
        <input type="text" name="search" placeholder="Enter recipe name..." required />
        <button type="submit">Search</button>
      </form> -->
      <div class="space-y-[1em]">
        {recipes.length > 0 ? (
          <>
            {recipes.map(recipe => (
              <>
                <h2>{recipe.description}</h2>
                <p class="font-bold">Ingredients:</p>
                <ul class="list-disc">
                  {recipe.ingredients.map(ingredient => (
                    <li>{ingredient}</li>
                  ))}
                </ul>
                <p font-bold>Directions:</p>
                <ul class="list-decimal">
                  {recipe.instructions.map(step => (
                    <li>{step}</li>
                  ))}
                </ul>
              </>
            ))}
          </>
        ) : (
          <p>No recipes found.</p>
        )}
      </div>
    </div>
</Layout>

<style>
  ul {
    @apply ml-8;
  }
</style>
