---
import {getRecipes} from '../utils/db';
import Layout from '../layouts/Layout.astro';
import RecipeCard from '../components/RecipeCard.astro';
import type {Recipe} from '../utils/db';

const recipes: Recipe[] = await getRecipes();

// Function to handle search
// const searchRecipes = async (event: Event) => {
//     event.preventDefault();
//     const target = event.target as HTMLFormElement;
//     const searchTerm = (target.elements.namedItem('search') as HTMLInputElement).value;
//     recipes = await collection.find({ title: { $regex: searchTerm, $options: 'i' } });
// };
---

<Layout>
  <div class="card">
    <h1 class="pb-12 text-center">Christmas Cookie Recipes</h1>
      <!-- <form onsubmit={searchRecipes}>
        <input type="text" name="search" placeholder="Enter recipe name..." required />
        <button type="submit">Search</button>
      </form> -->
      {recipes.length > 0 ? (
        <div class="space-y-8">
          {recipes.map(recipe => (
            <RecipeCard
              cookTime={recipe.cookTime}
              description={recipe.description}
              difficulty={recipe.difficulty}
              ingredients={recipe.ingredients}
              instructions={recipe.instructions}
              prepTime={recipe.prepTime}
              title={recipe.title}
              totalTime={recipe.totalTime}
            />
          ))}
        </div>
      ) : (
        <p>No recipes found.</p>
      )}
    </div>
</Layout>

<style>
  ul {
    @apply ml-8;
  }
</style>
